---
openapi: "3.0.1"
info:
  title: "ShootProof Studio Panel API"
  termsOfService: "https://www.shootproof.com/legal/terms-of-use"
  contact:
    name: "ShootProof Support"
    url: "https://help.shootproof.com/"
    email: "support@shootproof.com"
  version: "v1.0.0"
servers:
- url: "https://api.shootproof.com/studio"
  description: "ShootProof Studio Panel API"
security:
- shootProofAuth:
  - "studio"
tags:
- name: "Authenticated User"
  description: "The [Authenticated User](https://developer.shootproof.com/reference/studio/components/schemas/authenticated-user/)\n\
    is the user who granted your app access to their ShootProof account. Using\nthe\
    \ Authenticated User’s credentials, your app can manage their account\nand more\
    \ through the ShootProof API."
- name: "Brands"
  description: "Each studio has one or more [*brands*](https://developer.shootproof.com/reference/studio/components/schemas/brand-collection/)\n\
    with ShootProof. It all depends on how they choose to organize their\nbusinesses.\
    \ Some studios have a single brand, under which all their business\ntakes place.\
    \ Others like to separate the types of business they engage in\nunder separate\
    \ brands (i.e. portraits, weddings, etc.). They may use these\nbrands to communicate\
    \ with and sell to different customers.\n\nNo matter how a studio chooses to use\
    \ ShootProof—whether through one brand\nor many—your app will manage most of a\
    \ studio’s data through brands.\nContacts, contracts, events, invoices, orders,\
    \ and more are all handled\nthrough a brand."
- name: "Contacts"
  description: "[Brands](https://developer.shootproof.com/reference/studio/brands/)\
    \ need\nto keep up with their customers, whether those customers have scheduled\
    \ a\nsession or purchased the photos of a family member. They do this by managing\n\
    [contacts](https://developer.shootproof.com/reference/studio/components/schemas/contact-collection/).\n\
    Contacts can be attached to events, contracts, invoices, and more."
- name: "Contracts"
  description: "[Brands](https://developer.shootproof.com/reference/studio/brands/)\
    \ use\n[*contracts*](https://developer.shootproof.com/reference/studio/components/schemas/contract-collection/)\n\
    for a variety of reasons and situations. ShootProof provides a flexible\napproach\
    \ to contracts, allowing studios to choose when and if they need\nthem, as well\
    \ as attaching them to invoices and associating\n[contacts](https://developer.shootproof.com/reference/studio/contacts/)\n\
    to them."
- name: "Email"
  description: "ShootProof helps [brands](https://developer.shootproof.com/reference/studio/brands/)\n\
    keep in touch with their customers through sending [*email messages*](https://developer.shootproof.com/reference/studio/components/schemas/studio-to-client-email/)\n\
    to event visitors, contacts attached to an event or invoice, and more.\n\nIn addition\
    \ to sending email messages on demand, ShootProof allows brands\nto set up automated\
    \ emails that are sent whenever certain activities take\nplace, and each brand\
    \ has full control over when these are sent and for\nwhat activities they are\
    \ sent."
- name: "Events"
  description: "[*Events*](https://developer.shootproof.com/reference/studio/components/schemas/event-collection/)\n\
    are the heart of a [brand’s](https://developer.shootproof.com/reference/studio/brands/)\n\
    business. Every time a photographer photographs a client—that’s an event.\n\n\
    You may not see the word “event” used around the ShootProof user interface,\n\
    though. That’s because another word for an “event” is “gallery.” Galleries\nand\
    \ albums within those galleries are how brands showcase an event to their\nclients,\
    \ and it’s through galleries that clients buy prints from their\nphotographer.\n\
    \nEvents have varying requirements. Most have shoot dates. Many have\nexpiration\
    \ dates. Some allow visitors to pre-register so they can be\ninformed when the\
    \ gallery is ready. Events may be for a single person and\ntheir family or many\
    \ different people (e.g. sporting events, recitals,\netc.). ShootProof provides\
    \ the flexibility a brand needs to work with\nclients of all types."
- name: "Invoices"
  description: "ShootProof provides [*invoicing*](https://developer.shootproof.com/reference/studio/components/schemas/invoice-collection/)\n\
    to help studios manage the business of their [brands](https://developer.shootproof.com/reference/studio/brands/).\n\
    Through invoicing, a brand can set up any fee structure and payment schedule,\n\
    event allowing one or more parties to pay on the same invoice."
- name: "Music"
  description: "Beautiful galleries deserve the right mix of music for the occasion,\
    \ and\nShootProof has [partnered with Triple Scoop Music](https://www.shootproof.com/features/triple-scoop-music)\n\
    to help studios set the right tone for their [brands](https://developer.shootproof.com/reference/studio/brands/)\n\
    and [events](https://developer.shootproof.com/reference/studio/events/).\n\nThrough\
    \ the ShootProof API, you can help studios manage their music\nplaylists, as well\
    \ as access the studio’s music streams from your app."
- name: "Orders"
  description: "A major part of a [brand’s](https://developer.shootproof.com/reference/studio/brands/)\n\
    business is handling [*orders*](https://developer.shootproof.com/reference/studio/components/schemas/order-collection/).\n\
    Together with [invoices](https://developer.shootproof.com/reference/studio/invoices/),\n\
    orders are how ShootProof helps photography studios grow sustainable\nbusinesses.\
    \ Through the ShootProof API, your app can provide tools to help\nphotographers\
    \ manage and fulfill orders."
  x-beta: true
- name: "Other"
  description: "There are a handful of things you can do through the ShootProof API\
    \ that\ndon’t fit in with any of the other categories, so we’ve listed them here."
- name: "Price Sheets"
  description: "Studios set up prices for an [event’s](https://developer.shootproof.com/reference/studio/events/)\n\
    products through [price sheets](https://developer.shootproof.com/reference/studio/components/schemas/price-sheet-collection/),\n\
    which may or may not be tied to a [lab catalog](https://developer.shootproof.com/reference/studio/components/schemas/lab-catalog/).\n\
    The ShootProof API allows your app to help photography studios manage\nprice sheets\
    \ and attach them to events."
- name: "Service Description"
  description: "The [service description](https://developer.shootproof.com/guide/service-description/)\n\
    is the gateway to the ShootProof API. It provides your app with the information\n\
    it needs to know what it can do within the ShootProof API. It does so by\nproviding\
    \ [links](https://developer.shootproof.com/guide/hypermedia/). Your\napp uses\
    \ these links to navigate the ShootProof API."
components:
  securitySchemes:
    shootProofAuth:
      type: "oauth2"
      flows:
        authorizationCode:
          authorizationUrl: "https://auth.shootproof.com/oauth2/authorization/new"
          tokenUrl: "https://auth.shootproof.com/oauth2/authorization/token"
          refreshUrl: "https://auth.shootproof.com/oauth2/authorization/token"
          scopes:
            studio: "read and write access to your Studio Panel data"
  schemas:
    Address:
      description: "An address."
      type: "object"
      required:
      - "type"
      - "country"
      properties:
        type:
          description: "The type of object represented."
          type: "string"
          enum:
          - "address"
        name:
          description: "The name of the addressee."
          nullable: true
          type: "string"
          maxLength: 50
        addressLine1:
          description: "The first line of the address."
          nullable: true
          type: "string"
          maxLength: 100
        addressLine2:
          description: "The second line of the address, if applicable."
          nullable: true
          type: "string"
          maxLength: 100
        city:
          description: "The city for this address."
          nullable: true
          type: "string"
          maxLength: 50
        state:
          description: "The state for this address."
          nullable: true
          type: "string"
        stateOther:
          description: "The `state` property is validated against known states/provinces\
            \ of all\ncountries. If this address does not have a standard state/province\n\
            abbreviation, use the `stateOther` property when creating or updating\n\
            addresses.\n\n*This property is write-only. It is not available in responses.*"
          nullable: true
          type: "string"
          writeOnly: true
          maxLength: 50
        zip:
          description: "The postal code for this address."
          oneOf:
          - type: "string"
          - type: "integer"
          nullable: true
          maxLength: 10
        country:
          description: "The country code for this address."
          type: "string"
          minLength: 2
          maxLength: 2
    AuthenticatedUser:
      allOf:
      - title: "Authenticated User"
        description: "The authenticated user."
        properties:
          isStudioOwner:
            description: "Whether the authenticated user is the owner of the studio."
            type: "boolean"
            readOnly: true
          signature:
            $ref: "#/components/schemas/Signature"
          studio:
            allOf:
            - description: "The studio to which the authenticated user belongs."
              readOnly: true
            - $ref: "#/components/schemas/Studio"
      - $ref: "#/components/schemas/User"
    BaseImage:
      title: "Image"
      type: "object"
      properties:
        type:
          description: "The resource type"
          type: "string"
          enum:
          - "image"
        links:
          $ref: "#/components/schemas/Links"
        id:
          $ref: "#/components/schemas/Id"
        name:
          description: "The original filename of the image."
          type: "string"
          maxLength: 250
          example: "my-file.jpg"
        mimeType:
          description: "The image file MIME type."
          type: "string"
          readOnly: true
          nullable: true
          example: "image/jpeg"
        width:
          description: "The width in pixels of the image."
          type: "integer"
          readOnly: true
          example: 2400
        height:
          description: "The height in pixels of the image."
          type: "integer"
          readOnly: true
          example: 3000
        filesize:
          description: "The original filesize of the image (in bytes)."
          type: "integer"
          readOnly: true
          example: 18452563
        displayUrl:
          allOf:
          - description: "Display URLs for this image."
            nullable: true
            readOnly: true
          - $ref: "#/components/schemas/ImageDisplayUrl"
        created:
          description: "The creation date of the image."
          type: "string"
          format: "date-time"
          readOnly: true
    BasicEmailMessage:
      description: "A basic email message."
      type: "object"
      required:
      - "type"
      - "subject"
      - "body"
      properties:
        type:
          allOf:
          - enum:
            - "email"
          - $ref: "#/components/schemas/Type"
        subject:
          description: "The subject line for the email message."
          type: "string"
          maxLength: 200
        body:
          description: "The message to include in the body of the email."
          type: "string"
          maxLength: 10000
        recipientEmails:
          description: "Email address(es) to send the email to. If provided, must\
            \ be an\narray of valid email addresses. Optional, but may be required\
            \ by\nchild schemas."
          type: "array"
          items:
            type: "string"
    BatchCollection:
      description: "A collection of batch resources to be updated."
      type: "object"
      required:
      - "type"
      - "items"
      properties:
        type:
          description: "The model type for the collection object (i.e., `event-collection`)."
          type: "string"
        items:
          description: "A collection of one or more batched resources. If `items`\
            \ is `null`\nor an empty array, no action is taken."
          type: "array"
          items:
            description: "A batched resource representing one or more resources to\
              \ which\nthese changes should apply."
            type: "object"
            required:
            - "type"
            - "id"
            properties:
              type:
                description: "The type of resource represented (i.e., `event`)."
                type: "string"
              id:
                description: "Identifies one or more resources for which changes may\
                  \ be\napplied. This property accepts several different types of\n\
                  values:\n\n* `[]`: If the `id` property is an empty array, then\
                  \ the\nchanges will apply to all resources applicable to the context\n\
                  of the operation.\n* `number[]`: If the value is an array of integers,\
                  \ then the\nchanges will apply to each of the resources identified\
                  \ by the\nnumbers. If any of these numbers are negative (i.e., prefixed\n\
                  with a minus sign, `-`), the changes will not apply to\nresources\
                  \ identified by those numbers, even if the same number\nis present\
                  \ in the array in its positive form.\n* `null` or _not present_:\
                  \ An undefined state. The changes\nwill not be applied to any resources.\n\
                  \nThis functionality allows a great degree of flexibility to\nbatch\
                  \ processing of API resources. We can ask that the changes\nbe applied\
                  \ to all resources for the given `type` by providing\nan empty array.\
                  \ We can apply the changes to all resources\nexcept a few (e.g.,\
                  \ `\"id\": [-45, -76, -32]`). We can apply the\nchanges to some\
                  \ resources, but not others (e.g., `\"id\": [-32,\n56, 45, -6, 18,\
                  \ 32]`—in this example, the changes will not be\napplied to the\
                  \ resource identified by `32`)."
                type: "array"
                items:
                  description: "A positive or negative integer, identifying a resource\
                    \ to\nwhich these changes should or should not (denoted by the\n\
                    minus sign) apply."
                  type: "number"
    Brand:
      title: "Brand"
      description: "A brand."
      type: "object"
      properties:
        type:
          allOf:
          - $ref: "#/components/schemas/Type"
          - enum:
            - "brand"
        links:
          $ref: "#/components/schemas/Links"
        id:
          description: "The identifier for this brand."
          type: "integer"
        name:
          description: "The name of this brand."
          type: "string"
        email:
          description: "The email address for this brand."
          type: "string"
          format: "email"
        phone:
          description: "The phone number for this brand."
          type: "string"
        website:
          description: "The URL for this brand's website."
          format: "uri"
          nullable: true
          type: "string"
        address:
          allOf:
          - description: "The mailing address for this brand."
            nullable: true
          - $ref: "#/components/schemas/Address"
        isDefault:
          description: "Whether this is the default brand for the logged-in user's\
            \ studio."
          type: "boolean"
        subdomain:
          description: "The ShootProof subdomain for this brand."
          type: "string"
        customDomain:
          description: "A custom domain for this brand, if applicable."
          format: "hostname"
          nullable: true
          type: "string"
        galleryDomain:
          description: "The domain for this brand's galleries."
          type: "string"
          format: "uri"
        facebookFanPageUrl:
          description: "The URL for this brand's Facebook fan page."
          format: "uri"
          nullable: true
          type: "string"
        twitterHandle:
          description: "The Twitter username for this brand."
          nullable: true
          type: "string"
        instagramUsername:
          description: "The Instagram username for this brand."
          nullable: true
          type: "string"
        homepageBrandThemeId:
          description: "The identifier for this brand's homepage brand theme."
          type: "integer"
        homepageBrandTheme:
          $ref: "#/components/schemas/BrandTheme"
        useDefaultWatermark:
          description: "Whether or not the Brand's default watermark should be applied\
            \ at\nupload time."
          type: "boolean"
        locale:
          description: "The locale defined for this brand."
          type: "string"
        taxIdentifier:
          description: "The tax ID defined for this brand."
          nullable: true
          type: "string"
        taxMethod:
          description: "The tax method for this brand."
          nullable: true
          type: "string"
          enum:
          - "exclusive"
          - "inclusive"
        labCatalogs:
          title: "Lab Catalog"
          description: "An array of lab catalogs to which this brand has access."
          type: "array"
          items:
            $ref: "#/components/schemas/LabCatalog"
        created:
          description: "The creation date of this brand."
          type: "string"
          format: "date-time"
        automationSendHour:
          description: "The hour during which email automations for this brand will\
            \ be sent, relative to the brand's time zone."
          type: "integer"
          minimum: 0
          maximum: 23
    BrandCollection:
      allOf:
      - $ref: "#/components/schemas/List"
      - properties:
          type:
            enum:
            - "brand-collection"
          items:
            title: "Brand"
            type: "array"
            items:
              $ref: "#/components/schemas/Brand"
    BrandLogo:
      allOf:
      - title: "Brand Logo"
        properties:
          type:
            enum:
            - "brand-logo"
      - $ref: "#/components/schemas/BaseImage"
    BrandTheme:
      description: "A brand theme."
      type: "object"
      properties:
        type:
          description: "The type of object represented."
          type: "string"
          enum:
          - "brand-theme"
        links:
          $ref: "#/components/schemas/Links"
        id:
          description: "The identifier of this brand theme."
          type: "integer"
        name:
          description: "The name of this brand theme."
          type: "string"
        emailBrandLogo:
          description: "The brand logo for use in email messages (and any other place\
            \ using\na white/neutral background such as contracts and invoices)."
          allOf:
          - $ref: "#/components/schemas/BrandLogo"
          - nullable: true
        eventBrandLogo:
          description: "The brand logo for use in event presentation."
          allOf:
          - $ref: "#/components/schemas/BrandLogo"
          - nullable: true
        colorScheme:
          description: "The color scheme for this brand theme.\n\n| ShootProof Identifier\
            \ | Description |\n| --------------------- | ----------- |\n| `dark` |\
            \ A \"dark\" color scheme should be used when displaying this brand theme.\
            \ |\n| `light` | A \"light\" color scheme should be used when displaying\
            \ this brand theme. |"
          type: "string"
          enum:
          - "dark"
          - "light"
        fontSet:
          description: "The font set for this brand theme.\n\n| ShootProof Identifier\
            \ | Primary Font Name | Secondary Font Name | Body Font Name |\n| ---------------------\
            \ | ----------------- | ------------------- | -------------- |\n| `brandon`\
            \ | Brandon | Brandon | Baskerville |\n| `freeland` | ProximaNova | Freeland\
            \ | ProximaNova |\n| `baskerville` | Baskerville | Baskerville | OpenSans-Regular\
            \ |\n| `blooming-elegant` | BloomingElegant-Regular | BloomingElegant-Regular\
            \ | Brandon |\n| `bambusa-pro-regular` | BambusaPro-Regular | BambusaPro-Regular\
            \ | OpenSans-Regular |\n| `scandiebox-one` | SBOne | SBOne | OpenSans-Regular\
            \ |"
          type: "string"
          enum:
          - "brandon"
          - "freeland"
          - "baskerville"
          - "blooming-elegant"
          - "bambusa-pro-regular"
          - "scandiebox-one"
        primaryColor:
          description: "The primary hex color code for this brand theme."
          type: "string"
          example: "777777"
        secondaryColor:
          description: "The secondary hex color code for this brand theme."
          type: "string"
          example: "ffffff"
        created:
          $ref: "#/components/schemas/Signature/properties/created"
    BrandThemeCollection:
      allOf:
      - $ref: "#/components/schemas/List"
      - type: "object"
        description: "A collection of brand themes"
        properties:
          type:
            enum:
            - "brand-theme-collection"
          items:
            type: "array"
            items:
              $ref: "#/components/schemas/BrandTheme"
    BrandWatermark:
      title: "Brand Watermark"
      description: "A brand watermark."
      type: "object"
      properties:
        type:
          description: "The type of object represented."
          type: "string"
          enum:
          - "watermark"
        links:
          $ref: "#/components/schemas/Links"
        id:
          description: "The identifier of this brand watermark."
          type: "integer"
        name:
          description: "The name of this brand watermark."
          type: "string"
        isDefault:
          description: "Denotes whether this is the brand's default watermark"
          type: "boolean"
        created:
          description: "Datetime of creation"
          type: "string"
          format: "date-time"
    Contact:
      allOf:
      - title: "Brand Contact"
        required:
        - "type"
        - "email"
        - "name"
        description: "A contact that belongs to a brand."
        properties:
          brandId:
            allOf:
            - description: "When creating a contact, a `brandId` may be provided to\
                \ create\nthe contact under a different brand.\n\n*This is deprecated\
                \ in favor of using the other brand's contact\ncollection resource\
                \ to create contacts for the brand.*"
              writeOnly: true
              deprecated: true
            - $ref: "#/components/schemas/Id"
          address:
            allOf:
            - description: "The address for this contact."
              nullable: true
            - $ref: "#/components/schemas/Address"
          birthDate:
            description: "The date on which this contact was born."
            type: "string"
            format: "date"
            nullable: true
          birthDateDisplay:
            description: "The date on which this contact was born, properly formatted\
              \ according to the brand’s locale."
            type: "string"
            format: "date"
            readOnly: true
          notes:
            description: "Notes made by the studio about this contact."
            type: "string"
            nullable: true
          referringContactId:
            allOf:
            - description: "The identifier for the contact who referred this contact."
              nullable: true
            - $ref: "#/components/schemas/Id"
          referringContact:
            allOf:
            - description: "The contact who referred this contact."
              nullable: true
              readOnly: true
            - $ref: "#/components/schemas/ContactMinimal"
          refereeContacts:
            title: "Contact"
            description: "Contacts that have been referred by this contact."
            type: "array"
            items:
              $ref: "#/components/schemas/ContactMinimal"
            readOnly: true
          tags:
            description: "Tags describing this contact."
            type: "array"
            uniqueItems: true
            items:
              type: "string"
          created:
            description: "The date on which this contact was created"
            type: "string"
            format: "date-time"
            readOnly: true
          resourceCounts:
            type: "object"
            properties:
              numContracts:
                description: "The number of contracts with which this contact is associated."
                type: "integer"
              numInvoices:
                description: "The number of invoices with which this contact is associated."
                type: "integer"
              numEvents:
                description: "The number of events with which this contact is associated."
                type: "integer"
            readOnly: true
      - title: "Base Contact"
        description: "The base definition for a contact."
        type: "object"
        properties:
          type:
            allOf:
            - enum:
              - "contact"
            - $ref: "#/components/schemas/Type"
          links:
            $ref: "#/components/schemas/Links"
          id:
            $ref: "#/components/schemas/Id"
          name:
            description: "The full name for this contact."
            type: "string"
            nullable: true
          firstName:
            description: "The first name for this contact."
            type: "string"
            nullable: true
          lastName:
            description: "The last name for this contact."
            type: "string"
            nullable: true
          email:
            description: "The email address for this contact."
            type: "string"
            format: "email"
          phone:
            description: "The phone number for this contact."
            oneOf:
            - type: "string"
            - type: "integer"
            nullable: true
          businessName:
            description: "The name for the business with which this contact is associated."
            type: "string"
            nullable: true
          thirdPartyId:
            description: "The identifier for this contact in the source system from\
              \ which it\noriginated."
            oneOf:
            - type: "integer"
            - type: "string"
            nullable: true
          created:
            description: "The date on which this contact was created"
            type: "string"
            format: "date-time"
            readOnly: true
    ContactCollection:
      allOf:
      - title: "Collection of Contacts"
        properties:
          type:
            enum:
            - "contact-collection"
          items:
            title: "Contact"
            type: "array"
            items:
              $ref: "#/components/schemas/Contact"
      - $ref: "#/components/schemas/List"
    ContactCollectionMinimal:
      allOf:
      - title: "Collection of Contacts"
        properties:
          type:
            enum:
            - "contact-collection"
          items:
            title: "Contact"
            type: "array"
            items:
              $ref: "#/components/schemas/ContactMinimal"
      - $ref: "#/components/schemas/List"
    ContactEmail:
      allOf:
      - title: "Contact Email Message"
        description: "An email message to a contact."
        required:
        - "contactId"
        properties:
          contactId:
            allOf:
            - description: "The identifier for the contact to whom the email message\
                \ should\nbe sent."
            - $ref: "#/components/schemas/Id"
      - $ref: "#/components/schemas/StudioToClientEmail"
    ContactMinimal:
      title: "Contact"
      description: "A minimal representation of a contact."
      type: "object"
      properties:
        type:
          allOf:
          - enum:
            - "contact"
          - $ref: "#/components/schemas/Type"
        links:
          $ref: "#/components/schemas/Links"
        id:
          $ref: "#/components/schemas/Id"
        name:
          description: "The full name for this contact."
          type: "string"
          nullable: true
        firstName:
          description: "The first name for this contact."
          type: "string"
          nullable: true
        lastName:
          description: "The last name for this contact."
          type: "string"
          nullable: true
        email:
          description: "The email address for this contact."
          type: "string"
          format: "email"
        phone:
          description: "The phone number for this contact."
          oneOf:
          - type: "string"
          - type: "integer"
          nullable: true
        address:
          allOf:
          - description: "The address for this contact."
            nullable: true
          - $ref: "#/components/schemas/Address"
    ContactRecentActivity:
      title: "Contact Recent Activity"
      description: "The recent activity for a contact."
      type: "object"
      properties:
        type:
          allOf:
          - enum:
            - "contact-recent-activity"
          - $ref: "#/components/schemas/Type"
        links:
          $ref: "#/components/schemas/Links"
        activityType:
          description: "Human-readable description of the type of activity."
          type: "string"
        relevantId:
          $ref: "#/components/schemas/Id"
        customInvoiceId:
          description: "Identifier of the custom invoice related to this activity."
          type: "integer"
          nullable: true
        activityDate:
          description: "The date on which this activity took place."
          type: "string"
          format: "date-time"
          nullable: true
    ContactRecentActivityCollection:
      allOf:
      - title: "Collection of Recent Activity for a Contact"
        properties:
          type:
            enum:
            - "contact-recent-activity-collection"
          items:
            title: "Contact Recent Activity"
            type: "array"
            items:
              $ref: "#/components/schemas/ContactRecentActivity"
      - $ref: "#/components/schemas/List"
    Contract:
      title: "Contract"
      type: "object"
      required:
      - "type"
      - "name"
      - "brandThemeId"
      - "contactIds"
      - "bodyHtml"
      - "expirationDate"
      - "languageCode"
      properties:
        type:
          allOf:
          - $ref: "#/components/schemas/Type"
          - enum:
            - "contract"
        links:
          allOf:
          - $ref: "#/components/schemas/Links"
          - readOnly: true
        id:
          $ref: "#/components/schemas/Id"
        publicId:
          description: "The public identifier for this contract (may be used in the\
            \ portal\nwebsite)."
          type: "string"
          pattern: "^[a-fA-F0-9]{32}$"
          readOnly: true
        name:
          description: "The name for this contract."
          type: "string"
        contractTemplateId:
          allOf:
          - $ref: "#/components/schemas/Id"
          - nullable: true
        contractTemplate:
          allOf:
          - $ref: "#/components/schemas/ContractTemplate"
          - readOnly: true
        contactIds:
          description: "An array of unique contact ids to link to contract"
          type: "array"
          writeOnly: true
          uniqueItems: true
          items:
            $ref: "#/components/schemas/Id"
        brandThemeId:
          $ref: "#/components/schemas/Id"
        brandTheme:
          allOf:
          - $ref: "#/components/schemas/BrandTheme"
          - readOnly: true
        contacts:
          allOf:
          - $ref: "#/components/schemas/ContactCollectionMinimal"
          - description: "A collection of contacts associated with this contract"
            readOnly: true
        bodyHtml:
          description: "The HTML body of the contract."
          type: "string"
        bodyContainsMagicBlank:
          description: "Indicates if the HTML body of the contract contains one or\
            \ more\n'magic blank' placeholder strings."
          type: "boolean"
          readOnly: true
        contractStatus:
          title: "Contract Status"
          description: "The current status of the contract.\n\n| Status | Description\
            \ |\n| ------ | ----------- |\n| `draft` | The contract is a draft and\
            \ has not been sent to the client. |\n| `awaiting-client-signature` |\
            \ The contract has been sent to the client and is awaiting their signature.\
            \ |\n| `awaiting-studio-countersign` | The client has signed the contract,\
            \ and it is ready for the studio to countersign. |\n| `completed` | The\
            \ client and studio have both signed the contract. |\n| `canceled` | The\
            \ studio has canceled the contract. |\n| `expired` | The expiration date\
            \ specified on the contract has passed while the contract was in the `draft`\
            \ or `awaiting-client-signature` states. |"
          type: "string"
          enum:
          - "draft"
          - "awaiting-client-signature"
          - "awaiting-studio-countersign"
          - "completed"
          - "canceled"
          - "expired"
        isHidden:
          description: "Whether the contract has been marked 'hidden'."
          type: "boolean"
        isEditable:
          description: "Whether the contract is able to be edited."
          type: "boolean"
        shootDate:
          description: "This contract covers a photo shoot or event that took place\
            \ on this\ndate."
          type: "string"
          format: "date-time"
          nullable: true
        expirationDate:
          description: "The date on which this contract expires."
          type: "string"
          format: "date-time"
        languageCode:
          description: "The Unicode CLDR language tag for the language used in this\n\
            contract."
          type: "string"
          example: "en_US"
        created:
          description: "The creation date of this contract."
          type: "string"
          format: "date-time"
          readOnly: true
        activity:
          title: "Contract Activity"
          description: "A list of activities that have occurred with this contract."
          type: "array"
          items:
            $ref: "#/components/schemas/ContractActivity"
          readOnly: true
        signatureStudio:
          allOf:
          - description: "The contract signature for the studio."
            readOnly: true
            nullable: true
          - $ref: "#/components/schemas/ContractSignature"
        signatureClient:
          allOf:
          - description: "The contract signature for the client."
            readOnly: true
            nullable: true
          - $ref: "#/components/schemas/ContractSignature"
        invoices:
          title: "Invoice"
          description: "An array of linked invoices."
          type: "array"
          items:
            $ref: "#/components/schemas/InvoiceMinimal"
          readOnly: true
        cancelationMessage:
          description: "Optional cancelation message to include in studio-to-client\
            \ email\nsent when contract status moves to canceled state. As of this\n\
            writing, value only used on `PATCH` requests."
          type: "string"
          nullable: true
    ContractActivity:
      description: "Activity performed on a contract."
      type: "object"
      properties:
        contractActivityAction:
          description: "The type of activity.\n\n| Status | Description |\n| ------\
            \ | ----------- |\n| `studio-edited` | The contract was edited by the\
            \ studio. |\n| `sent-client` | The contract was sent to the client. |\n\
            | `client-viewed` | The client viewed the contract. |\n| `client-signed`\
            \ | The client signed the contract. |\n| `studio-signed` | The studio\
            \ signed the contract. |"
          type: "string"
          enum:
          - "studio-edited"
          - "sent-client"
          - "client-viewed"
          - "client-signed"
          - "studio-signed"
        created:
          description: "The date on which this activity took place."
          type: "string"
          format: "date-time"
    ContractCollection:
      allOf:
      - $ref: "#/components/schemas/List"
      - title: "Collection of Contracts"
        properties:
          type:
            enum:
            - "contract-collection"
          items:
            title: "Contract"
            type: "array"
            items:
              $ref: "#/components/schemas/ContractInList"
    ContractEmail:
      allOf:
      - description: "An email message to a client about their contract."
      - $ref: "#/components/schemas/StudioToClientEmail"
    ContractInList:
      title: "Contract"
      type: "object"
      properties:
        type:
          allOf:
          - $ref: "#/components/schemas/Type"
          - enum:
            - "contract"
        links:
          $ref: "#/components/schemas/Links"
        id:
          $ref: "#/components/schemas/Id"
        publicId:
          description: "The public identifier for this contract (may be used in the\
            \ portal\nwebsite)."
          type: "string"
          pattern: "^[a-fA-F0-9]{32}$"
        name:
          description: "The name for this contract."
          type: "string"
        contacts:
          description: "A collection of contacts associated with this contract"
          readOnly: true
          items:
            $ref: "#/components/schemas/ContactCollectionMinimal"
        bodyContainsMagicBlank:
          description: "Indicates if the HTML body of the contract contains one or\
            \ more\n*magic blank* placeholder strings."
          type: "boolean"
          readOnly: true
        expirationDate:
          description: "The date on which this contract expires."
          type: "string"
          format: "date-time"
        contractStatus:
          $ref: "#/components/schemas/Contract/properties/contractStatus"
        invoices:
          title: "Invoice"
          description: "An array of linked invoices."
          type: "array"
          items:
            $ref: "#/components/schemas/InvoiceMinimal"
        created:
          description: "The creation date of this contract."
          type: "string"
          format: "date-time"
        isEditable:
          description: "Whether the contract is able to be edited."
          type: "boolean"
    ContractMinimal:
      title: "Contract"
      type: "object"
      properties:
        type:
          allOf:
          - $ref: "#/components/schemas/Type"
          - enum:
            - "contract"
        links:
          $ref: "#/components/schemas/Links"
        id:
          $ref: "#/components/schemas/Id"
        publicId:
          description: "The public identifier for this contract (may be used in the\
            \ portal\nwebsite)."
          type: "string"
          pattern: "^[a-fA-F0-9]{32}$"
        name:
          description: "The name for this contract."
          type: "string"
        bodyContainsMagicBlank:
          description: "Indicates if the HTML body of the contract contains one or\
            \ more\n'magic blank' placeholder strings."
          type: "boolean"
        contractStatus:
          $ref: "#/components/schemas/Contract/properties/contractStatus"
        isHidden:
          description: "Whether the contract has been marked 'hidden'."
          type: "boolean"
        expirationDate:
          description: "The date on which this contract expires."
          type: "string"
          format: "date-time"
    ContractSignature:
      title: "Contract Signature"
      description: "A contract signature."
      type: "object"
      properties:
        type:
          allOf:
          - $ref: "#/components/schemas/Type"
          - enum:
            - "contract-signature"
        signatureType:
          description: "The type of signature.\n\n| Status | Description |\n| ------\
            \ | ----------- |\n| `studio` | The signature was created by the studio.\
            \ |\n| `client` | The signature was created by the client. |"
          type: "string"
          enum:
          - "studio"
          - "client"
        publicId:
          description: "The public identifier for this contract signature. This is\
            \ used on\nall public screens and printable views of the contract as a\n\
            transaction identifier."
          type: "string"
          pattern: "^[a-fA-F0-9]{32}$"
        ipAddress:
          description: "The IP address of the user agent recording the signature."
          type: "string"
          format: "ipv4"
        userAgent:
          description: "The full user agent identifier string of the user agent recording\n\
            the signature."
          type: "string"
        created:
          $ref: "#/components/schemas/Signature/properties/created"
        signature:
          $ref: "#/components/schemas/Signature"
    ContractTemplate:
      title: "Contract Template"
      type: "object"
      required:
      - "type"
      - "name"
      - "brandThemeId"
      - "bodyHtml"
      - "languageCode"
      properties:
        type:
          allOf:
          - $ref: "#/components/schemas/Type"
          - enum:
            - "contract-template"
        links:
          $ref: "#/components/schemas/Links"
        id:
          $ref: "#/components/schemas/Id"
        name:
          description: "The name for this contract template."
          type: "string"
        brandThemeId:
          $ref: "#/components/schemas/Id"
        brandTheme:
          allOf:
          - readOnly: true
          - $ref: "#/components/schemas/BrandTheme"
        bodyHtml:
          description: "The HTML body of the contract template."
          type: "string"
        languageCode:
          description: "The Unicode CLDR language tag for the language used in this\n\
            contract template."
          type: "string"
          example: "en_US"
        created:
          description: "The creation date of this contract template."
          type: "string"
          format: "date-time"
          readOnly: true
    ContractTemplateCollection:
      allOf:
      - $ref: "#/components/schemas/List"
      - title: "Collection of Contract Templates"
        properties:
          type:
            enum:
            - "contract-template-collection"
          items:
            title: "Contract Template"
            type: "array"
            items:
              $ref: "#/components/schemas/ContractTemplateInList"
    ContractTemplateInList:
      title: "Contract Template"
      type: "object"
      properties:
        type:
          allOf:
          - $ref: "#/components/schemas/Type"
          - enum:
            - "contract-template"
        links:
          $ref: "#/components/schemas/Links"
        id:
          $ref: "#/components/schemas/Id"
        name:
          description: "The name for this contract template."
          type: "string"
        created:
          description: "The creation date of this contract template."
          type: "string"
          format: "date-time"
    CoverPhoto:
      description: "A cover photo."
      allOf:
      - type: "object"
        required:
        - "type"
        - "focalPointPercentages"
        - "coverPhotoStatus"
        - "coverPhotoType"
        properties:
          type:
            description: "The type of object represented."
            type: "string"
            enum:
            - "cover-photo"
          photoId:
            description: "If using an existing event photo as the cover photo, the\
              \ identifier\nfor the event photo."
            type: "integer"
            writeOnly: true
            nullable: true
          coverPhotoStatus:
            description: "The current status of this cover photo."
            type: "string"
            enum:
            - "active"
            - "pending"
            - "deleted"
            readOnly: true
          coverPhotoType:
            description: "The slug string name of the cover photo type."
            type: "string"
            enum:
            - "event"
            - "event-album"
            readOnly: true
          focalPointPercentages:
            description: "A pair of x,y coordinates on a rectangular coordinate system,\n\
              defining a focal point to use when rendering the cover photo.\nThese\
              \ numbers represent percentages and not fixed pixels."
            type: "object"
            required:
            - "x"
            - "y"
            properties:
              x:
                description: "The x-coordinate for the focal point, as a percentage.\
                  \ (i.e.\n`(x / width) * 100`)"
                type: "number"
              "y":
                description: "The y-coordinate for the focal point, as a percentage.\
                  \ (i.e.\n`(y / height) * 100`)"
                type: "number"
      - $ref: "#/components/schemas/BaseImage"
    CreditCard:
      title: "Credit Card"
      description: "A credit card."
      type: "object"
      required:
      - "type"
      - "nameOnCard"
      - "cardNumber"
      - "cardType"
      - "expirationMonth"
      - "expirationYear"
      - "cvvCode"
      - "billingPostalCode"
      properties:
        type:
          description: "The type of object represented."
          type: "string"
          enum:
          - "credit-card"
        nameOnCard:
          description: "The card-holder name."
          type: "string"
        cardNumber:
          description: "The card number (masked in responses)."
          type: "string"
        cardType:
          description: "The type of credit card."
          type: "string"
          enum:
          - "amex"
          - "discover"
          - "mastercard"
          - "visa"
          readOnly: true
        expirationMonth:
          description: "The card expiration month."
          oneOf:
          - type: "string"
          - type: "integer"
        expirationYear:
          description: "The card expiration year."
          oneOf:
          - type: "string"
          - type: "integer"
        cvvCode:
          description: "The card CVV/CVC/CSC code."
          oneOf:
          - type: "string"
          - type: "integer"
          writeOnly: true
        billingPostalCode:
          description: "The billing address postal code."
          type: "string"
          pattern: "^[A-Za-z0-9 -]{0,10}$"
    CuratedEmailAutomation:
      title: "Curated Email Automation"
      description: "A curated automated email message that should be sent to a specified\
        \ group of\nrecipients at a configured time."
      type: "object"
      required:
      - "type"
      - "name"
      - "emailTemplateId"
      - "sendType"
      - "sendTypeValue"
      - "recipientType"
      properties:
        type:
          allOf:
          - $ref: "#/components/schemas/Type"
          - enum:
            - "curated-email-automation"
        id:
          $ref: "#/components/schemas/Id"
        name:
          description: "The name for this curated email automation."
          type: "string"
          example: "Gallery Expiring in 7 Days"
        emailTemplateId:
          allOf:
          - description: "The identifier for the email template to use with this email\
              \ automation."
            example: "b1c6d4d5-552e-47d2-8e3c-6c69bd73a338"
          - $ref: "#/components/schemas/Id"
        sendType:
          description: "When to send this automated email message.\n\nAPI validation\
            \ of the `sendType` is based on the `resourceType` of the\nemail template\
            \ specified by `emailTemplateId`. Refer to the following\ntable for details\
            \ on which values are acceptable for `sendType` and under\nwhich conditions\
            \ they are acceptable.\n\n| ShootProof Identifier | For Email Templates\
            \ With Resource Type | Description |\n| --------------------- | --------------------------------------\
            \ | ----------- |\n| `days-after-event-expiration-date` | `event` | Send\
            \ this email `sendTypeValue` number of days after the event expiration\
            \ date. |\n| `days-after-event-release-date` | `event` | Send this email\
            \ `sendTypeValue` number of days after the event release date. |\n| `days-after-event-shoot-date`\
            \ | `event` | Send this email `sendTypeValue` number of days after the\
            \ event shoot date. |\n| `days-after-final-payment-due` | `invoice` |\
            \ Send this email `sendTypeValue` number of days after the final payment\
            \ is due. |\n| `days-after-order-due-date`| `event` | Send this email\
            \ `sendTypeValue` number of days after the order due date. |\n| `days-before-event-expiration-date`\
            \ | `event` | Send this email `sendTypeValue` number of days before the\
            \ event expiration date. |\n| `days-before-final-payment-due` | `invoice`\
            \ | Send this email `sendTypeValue` number of days before the final payment\
            \ is due. |\n| `days-before-order-due-date` | `event` | Send this email\
            \ `sendTypeValue` number of days before the order due date. |"
          type: "string"
          enum:
          - "days-after-event-expiration-date"
          - "days-after-event-release-date"
          - "days-after-event-shoot-date"
          - "days-after-final-payment-due"
          - "days-after-order-due-date"
          - "days-before-event-expiration-date"
          - "days-before-final-payment-due"
          - "days-before-order-due-date"
        sendTypeValue:
          description: "Specifies the number of units (e.g., days, hours, etc.) to\
            \ use for the\nselected `sendType`."
          type: "integer"
        recipientType:
          description: "Who to send this automation email message to.\n\nAPI validation\
            \ of the `recipientType` is based on the `resourceType` of\nthe email\
            \ template specified by `emailTemplateId`. Refer to the following\ntable\
            \ for details on which values are acceptable for `recipientType` and\n\
            under which conditions they are acceptable.\n\n| ShootProof Identifier\
            \ | For Email Templates With Resource Type | Description |\n| ---------------------\
            \ | -------------------------------------- | ----------- |\n| `event-visitors-all`\
            \ | `event` | Send this email to all event visitors. |\n| `event-visitors-with-cart-items`\
            \ | `event` | Send this email to event visitors who have items in their\
            \ carts. |\n| `event-visitors-with-favorites` | `event` | Send this email\
            \ to event visitors who have favorited items in the event. |\n| `event-visitors-with-orders`\
            \ | `event` | Send this email to event visitors who **have** placed an\
            \ order. |\n| `event-visitors-without-orders` | `event` | Send this email\
            \ to event visitors who **have not** placed and order. |\n| `invoice-contact`\
            \ | `invoice` | Send this email to the contact(s) listed for the invoice.\
            \ |"
          type: "string"
          enum:
          - "event-visitors-all"
          - "event-visitors-with-cart-items"
          - "event-visitors-with-favorites"
          - "event-visitors-with-orders"
          - "event-visitors-without-orders"
          - "invoice-contact"
        copyStudioOnEmail:
          description: "Send a copy of this email message to the studio at the same\
            \ time it is\nsent to the recipients."
          type: "boolean"
        created:
          $ref: "#/components/schemas/Signature/properties/created"
    CuratedEmailAutomationGroup:
      title: "Curated Email Automation Group"
      description: "A curated automated email group created internally to assist studios\
        \ in creating their own email automations.\nThese resources can only be read\
        \ from the API."
      type: "object"
      required:
      - "type"
      - "name"
      properties:
        type:
          allOf:
          - $ref: "#/components/schemas/Type"
          - enum:
            - "curated-email-automation-group"
        id:
          $ref: "#/components/schemas/Id"
        links:
          $ref: "#/components/schemas/Links"
        name:
          description: "The name for this email automation group."
          type: "string"
          example: "My Wedding Automation"
        automations:
          title: "Email Automations"
          description: "A collection of automated email messages that should be sent\
            \ to a\nspecified group of recipients at a configured time."
          type: "array"
          items:
            $ref: "#/components/schemas/CuratedEmailAutomation"
        created:
          $ref: "#/components/schemas/Signature/properties/created"
    CuratedEmailAutomationGroupCollection:
      allOf:
      - $ref: "#/components/schemas/List"
      - title: "Curated Email Automation Groups"
        properties:
          type:
            enum:
            - "curated-email-automation-group-collection"
          items:
            title: "Curated Email Automation Group"
            type: "array"
            items:
              $ref: "#/components/schemas/CuratedEmailAutomationGroup"
    DigitalRule:
      title: "Digital Rule"
      description: "A digital rule."
      type: "object"
      required:
      - "type"
      - "id"
      - "name"
      - "resolution"
      - "downloadAll"
      properties:
        type:
          description: "The type of object represented"
          type: "string"
          enum:
          - "digital-rule"
        id:
          description: "The identifier for this digital rule."
          type: "integer"
        name:
          description: "Human readable name for this digital rule."
          type: "string"
          maxLength: 100
        resolution:
          description: "Length, in pixels, of longest side of image resulting from\
            \ this\nrule. If `null`, the rule will deliver the original full size\n\
            resolution"
          type: "integer"
          nullable: true
        downloadAll:
          description: "Whether this rule allows for the bulk download of all images\
            \ in the\ngallery/album."
          type: "boolean"
        downloadPin:
          description: "The presence of a `downloadPin` requires PIN entry for free\
            \ digital\ndownloads. Must contain only digits."
          type: "string"
          minLength: 4
          maxLength: 8
          nullable: true
        requireDownloadPin:
          description: "Flag indicating whether the DigitalRule requires a `downloadPin`.\
            \ This\nallows rules derived from brand event defaults rules to inherit\
            \ the\nrequirement for a `downloadPin` from the brand event defaults rules."
          type: "boolean"
          default: false
          readOnly: true
        downloadLimit:
          description: "The maximum number of images a single user is allowed to download\n\
            from the gallery/album."
          type: "integer"
          nullable: true
        brandWatermarkId:
          description: "ID of the brand watermark that will be applied to each image\n\
            generated according to this rule"
          type: "integer"
          nullable: true
        brandWatermark:
          allOf:
          - nullable: true
            readOnly: true
          - $ref: "#/components/schemas/BrandWatermark"
        printRelease:
          description: "The print release that will be included with images generated\n\
            according to this rule."
          type: "string"
          maxLength: 7500
          nullable: true
        created:
          description: "The creation date of this digital rule."
          type: "string"
          format: "date-time"
          readOnly: true
    DigitalRuleCollection:
      title: "Digital Rules Collection"
      description: "A collection of digital rules."
      allOf:
      - type: "object"
        properties:
          type:
            description: "The model type for the list response object"
            type: "string"
            enum:
            - "digital-rule-collection"
          items:
            type: "array"
            title: "Digital Rule"
            description: "A list of digital rules."
            items:
              $ref: "#/components/schemas/DigitalRule"
      - $ref: "#/components/schemas/List"
    Dpa:
      x-internal: true
      title: "Data Processing Addendum"
      description: "A signed Data Processing Addendum (DPA) document. An `alternate`\
        \ link\nrelationship to a PDF for download is provided."
      type: "object"
      properties:
        type:
          description: "The type of object represented."
          type: "string"
          enum:
          - "dpa"
        links:
          allOf:
          - readOnly: true
          - $ref: "#/components/schemas/Links"
        id:
          description: "An identifier for this signed copy of the Data Processing\
            \ Addendum."
          type: "string"
          format: "uuid"
          readOnly: true
        ipAddress:
          description: "The IP address of the signatory."
          type: "string"
          format: "ipv4"
          readOnly: true
        userAgent:
          description: "The user agent identifier of the signatory."
          type: "string"
          readOnly: true
        created:
          description: "The time at which the DPA was signed and submitted."
          type: "string"
          format: "date-time"
          readOnly: true
        customer:
          description: "The customer for which this DPA is being signed."
          type: "object"
          writeOnly: true
          properties:
            name:
              description: "The legal name of the customer for and on behalf of whom\
                \ this\nDPA is being signed."
              type: "string"
            signatory:
              description: "The signatory for the customer."
              type: "object"
              properties:
                name:
                  description: "The name of the person signing for the customer."
                  type: "string"
                title:
                  description: "The title of the person signing for the customer."
                  type: "string"
                address:
                  description: "The address of the person signing for the customer."
                  type: "string"
                date:
                  description: "The date of the signature. The date may be provided\
                    \ in any\nformat."
                  type: "string"
                signature:
                  description: "The signature for the signatory."
                  type: "object"
                  properties:
                    signaturePaths:
                      description: "The SVG paths that define this signature."
                      type: "string"
                    svgViewbox:
                      description: "The SVG viewbox that defines the dimensions of\
                        \ this\nsignature."
                      type: "string"
        exhibit1:
          description: "Fields provided under the EXHIBIT 1 section of the DPA."
          type: "object"
          writeOnly: true
          properties:
            dataExporter:
              description: "The data exporter party to this DPA."
              type: "object"
              properties:
                name:
                  description: "The name of the data exporting organization."
                  type: "string"
                address:
                  description: "The address of the data exporting organization."
                  type: "string"
                phone:
                  description: "The phone number of the data exporting organization."
                  type: "string"
                fax:
                  description: "The fax number of the data exporting organization."
                  type: "string"
                email:
                  description: "The email address of the data exporting organization."
                  type: "string"
                other:
                  description: "Other information identifying the data exporting\n\
                    organization."
                  type: "string"
                signatory:
                  description: "The signatory for the data exporting organization."
                  type: "object"
                  properties:
                    name:
                      description: "The name of the person signing for the data exporting\n\
                        organization."
                      type: "string"
                    title:
                      description: "The title of the person signing for the data exporting\n\
                        organization."
                      type: "string"
                    address:
                      description: "The address of the person signing for the data\
                        \ exporting\norganization."
                      type: "string"
                    signature:
                      description: "The signature for the signatory."
                      type: "object"
                      properties:
                        signaturePaths:
                          description: "The SVG paths that define this signature."
                          type: "string"
                        svgViewbox:
                          description: "The SVG viewbox that defines the dimensions\
                            \ of this\nsignature."
                          type: "string"
            annexA:
              description: "Fields provided under the ANNEX A section of EXHIBIT 1."
              type: "object"
              properties:
                dataExporter:
                  description: "The data exporter party to this DPA."
                  type: "object"
                  properties:
                    name:
                      description: "The name of the data exporting organization."
                      type: "string"
                    signatory:
                      description: "The signatory for the data exporting organization."
                      type: "object"
                      properties:
                        name:
                          description: "The name of the person signing for the data\n\
                            exporting organization."
                          type: "string"
                        signature:
                          description: "The signature for the signatory."
                          type: "object"
                          properties:
                            signaturePaths:
                              description: "The SVG paths that define this signature."
                              type: "string"
                            svgViewbox:
                              description: "The SVG viewbox that defines the dimensions\
                                \ of\nthis signature."
                              type: "string"
            annexB:
              description: "Fields provided under the ANNEX B section of EXHIBIT 1."
              type: "object"
              properties:
                dataExporter:
                  description: "The data exporter party to this DPA."
                  type: "object"
                  properties:
                    signatory:
                      description: "The signatory for the data exporting organization."
                      type: "object"
                      properties:
                        name:
                          description: "The name of the person signing for the data\n\
                            exporting organization."
                          type: "string"
                        signature:
                          description: "The signature for the signatory."
                          type: "object"
                          properties:
                            signaturePaths:
                              description: "The SVG paths that define this signature."
                              type: "string"
                            svgViewbox:
                              description: "The SVG viewbox that defines the dimensions\
                                \ of\nthis signature."
                              type: "string"
    DpaCollection:
      x-internal: true
      description: "The base resource for reading and signing a Data Processing Addendum."
      allOf:
      - properties:
          type:
            description: "The model type for the list response object."
            type: "string"
            enum:
            - "dpa-collection"
      - $ref: "#/components/schemas/List"
    EmailAutomation:
      title: "Email Automation"
      description: "An automated email message that should be sent to a specified\
        \ group of\nrecipients at a configured time."
      type: "object"
      required:
      - "type"
      - "name"
      - "emailTemplateId"
      - "sendType"
      - "sendTypeValue"
      - "recipientType"
      properties:
        type:
          allOf:
          - $ref: "#/components/schemas/Type"
          - enum:
            - "email-automation"
        id:
          $ref: "#/components/schemas/Id"
        name:
          description: "The name for this email automation."
          type: "string"
          example: "Gallery Expiring in 7 Days"
        clonedFromId:
          allOf:
          - description: "If cloned from another automation, the identifier for the\
              \ automation\nfrom which this was cloned."
            example: "b1c6d4d5-552e-47d2-8e3c-6c69bd73a338"
            nullable: true
          - $ref: "#/components/schemas/Id"
        isClonedFromSpAutomation:
          description: "If this automation was cloned from a ShootProof-created email\
            \ automation,\nthen this property will be `true`."
          type: "boolean"
          readOnly: true
        emailAutomationGroupId:
          allOf:
          - description: "The identifier for the email automation group for which\
              \ this is associated with."
            example: "b1c6d4d5-552e-47d2-8e3c-6c69bd73a338"
          - $ref: "#/components/schemas/Id"
        emailTemplateId:
          allOf:
          - description: "The identifier for the email template to use with this email\
              \ automation."
            example: "b1c6d4d5-552e-47d2-8e3c-6c69bd73a338"
          - $ref: "#/components/schemas/Id"
        sendType:
          description: "When to send this automated email message.\n\nAPI validation\
            \ of the `sendType` is based on the `resourceType` of the\nemail template\
            \ specified by `emailTemplateId`. Refer to the following\ntable for details\
            \ on which values are acceptable for `sendType` and under\nwhich conditions\
            \ they are acceptable.\n\n| ShootProof Identifier | For Email Templates\
            \ With Resource Type | Description |\n| --------------------- | --------------------------------------\
            \ | ----------- |\n| `days-after-event-expiration-date` | `event` | Send\
            \ this email `sendTypeValue` number of days after the event expiration\
            \ date. |\n| `days-after-event-release-date` | `event` | Send this email\
            \ `sendTypeValue` number of days after the event release date. |\n| `days-after-event-shoot-date`\
            \ | `event` | Send this email `sendTypeValue` number of days after the\
            \ event shoot date. |\n| `days-after-final-payment-due` | `invoice` |\
            \ Send this email `sendTypeValue` number of days after the final payment\
            \ is due. |\n| `days-after-order-due-date`| `event` | Send this email\
            \ `sendTypeValue` number of days after the order due date. |\n| `days-before-event-expiration-date`\
            \ | `event` | Send this email `sendTypeValue` number of days before the\
            \ event expiration date. |\n| `days-before-final-payment-due` | `invoice`\
            \ | Send this email `sendTypeValue` number of days before the final payment\
            \ is due. |\n| `days-before-order-due-date` | `event` | Send this email\
            \ `sendTypeValue` number of days before the order due date. |"
          type: "string"
          enum:
          - "days-after-event-expiration-date"
          - "days-after-event-release-date"
          - "days-after-event-shoot-date"
          - "days-after-final-payment-due"
          - "days-after-order-due-date"
          - "days-before-event-expiration-date"
          - "days-before-final-payment-due"
          - "days-before-order-due-date"
        sendTypeValue:
          description: "Specifies the number of units (e.g., days, hours, etc.) to\
            \ use for the\nselected `sendType`."
          type: "integer"
        recipientType:
          description: "Who to send this automation email message to.\n\nAPI validation\
            \ of the `recipientType` is based on the `resourceType` of\nthe email\
            \ template specified by `emailTemplateId`. Refer to the following\ntable\
            \ for details on which values are acceptable for `recipientType` and\n\
            under which conditions they are acceptable.\n\n| ShootProof Identifier\
            \ | For Email Templates With Resource Type | Description |\n| ---------------------\
            \ | -------------------------------------- | ----------- |\n| `event-visitors-all`\
            \ | `event` | Send this email to all event visitors. |\n| `event-visitors-with-cart-items`\
            \ | `event` | Send this email to event visitors who have items in their\
            \ carts. |\n| `event-visitors-with-favorites` | `event` | Send this email\
            \ to event visitors who have favorited items in the event. |\n| `event-visitors-with-orders`\
            \ | `event` | Send this email to event visitors who **have** placed an\
            \ order. |\n| `event-visitors-without-orders` | `event` | Send this email\
            \ to event visitors who **have not** placed and order. |\n| `invoice-contact`\
            \ | `invoice` | Send this email to the contact(s) listed for the invoice.\
            \ |"
          type: "string"
          enum:
          - "event-visitors-all"
          - "event-visitors-with-cart-items"
          - "event-visitors-with-favorites"
          - "event-visitors-with-orders"
          - "event-visitors-without-orders"
          - "invoice-contact"
        copyStudioOnEmail:
          description: "Send a copy of this email message to the studio at the same\
            \ time it is\nsent to the recipients."
          type: "boolean"
        created:
          $ref: "#/components/schemas/Signature/properties/created"
    EmailAutomationGroup:
      title: "Email Automation Group"
      type: "object"
      required:
      - "type"
      - "name"
      properties:
        type:
          allOf:
          - $ref: "#/components/schemas/Type"
          - enum:
            - "email-automation-group"
        id:
          $ref: "#/components/schemas/Id"
        links:
          $ref: "#/components/schemas/Links"
        name:
          description: "The name for this email automation group."
          type: "string"
          example: "My Wedding Automation"
          maxLength: 250
        clonedFromId:
          allOf:
          - description: "If cloned from another automation group, the identifier\
              \ for the group\nfrom which this was cloned."
            example: "b1c6d4d5-552e-47d2-8e3c-6c69bd73a338"
            nullable: true
          - $ref: "#/components/schemas/Id"
        isClonedFromSpAutomationGroup:
          description: "If this automation group was cloned from a ShootProof-created\
            \ email\nautomation group, then this property will be `true`."
          type: "boolean"
          readOnly: true
        linkedEventsCount:
          description: "The total number of non-deleted events that are using the\
            \ automation\ngroup."
          type: "integer"
          readOnly: true
        automations:
          title: "Email Automations"
          description: "A collection of automated email messages that should be sent\
            \ to a\nspecified group of recipients at a configured time."
          type: "array"
          items:
            $ref: "#/components/schemas/EmailAutomation"
        created:
          $ref: "#/components/schemas/Signature/properties/created"
    EmailAutomationGroupCollection:
      allOf:
      - $ref: "#/components/schemas/List"
      - title: "Email Automation Groups"
        properties:
          type:
            enum:
            - "email-automation-group-collection"
          items:
            title: "Email Automation Group"
            type: "array"
            items:
              $ref: "#/components/schemas/EmailAutomationGroup"
    EmailCollection:
      allOf:
      - title: "Collection of Email Messages"
        properties:
          type:
            enum:
            - "email-collection"
          items:
            title: "Email Message"
            type: "array"
            items:
              $ref: "#/components/schemas/BasicEmailMessage"
      - $ref: "#/components/schemas/List"
    EmailTemplate:
      title: "Email Template"
      type: "object"
      properties:
        type:
          description: "The type of object represented."
          type: "string"
          enum:
          - "email-template"
        links:
          $ref: "#/components/schemas/Links"
        id:
          $ref: "#/components/schemas/Id"
        emailTemplateType:
          $ref: "#/components/schemas/EmailTemplateType/properties/emailTemplateType"
        name:
          description: "The name of this email template."
          type: "string"
        subject:
          description: "The email subject line to use for this template."
          type: "string"
        headline:
          description: "If a headline is displayed in the email, this is the text\
            \ of that\nheadline."
          type: "string"
        buttonText:
          description: "If a call-to-action button is displayed in the email, this\
            \ is the text\nlabel that will appear on the button."
          type: "string"
        body:
          description: "The user-entered body content of the email message, in HTML\
            \ format."
          type: "string"
        htmlEmailCss:
          description: "CSS styles that may be used to style a representation of the\
            \ email\nmessage, providing the studio user an opportunity to preview\
            \ their\nmessage before sending it."
          type: "string"
          readOnly: true
        htmlEmail:
          description: "The full HTML email template, complete with in-lined CSS,\
            \ headers,\nand footers. This may be used to render a representation of\
            \ the email\nmessage, allowing the studio user an opportunity to preview\
            \ their\nmessage before sending it."
          type: "string"
          readOnly: true
        resourceType:
          allOf:
          - readOnly: true
          - $ref: "#/components/schemas/EmailTemplateType/properties/resourceType"
        created:
          $ref: "#/components/schemas/Signature/properties/created"
    EmailTemplateCollection:
      allOf:
      - $ref: "#/components/schemas/List"
      - title: "A collection of email templates"
        properties:
          type:
            enum:
            - "email-template-collection"
          items:
            title: "Email Template"
            type: "array"
            items:
              $ref: "#/components/schemas/EmailTemplate"
    EmailTemplateType:
      title: "Email Template Type"
      type: "object"
      required:
      - "type"
      - "emailTemplateType"
      properties:
        type:
          allOf:
          - $ref: "#/components/schemas/Type"
          - enum:
            - "email-template-type"
        links:
          $ref: "#/components/schemas/Links"
        emailTemplateType:
          description: "The constant ShootProof identifier for the email template\
            \ type.\n\n| ShootProof Identifier | Description |\n| ---------------------\
            \ | ----------- |\n| `contract-ready` | Describes an email template that\
            \ may be sent to a studio's client when a contract is ready to view. |\n\
            | `documents-ready` | Describes an email template that may be sent to\
            \ a studio's client when they have documents (i.e., invoice and contract)\
            \ ready to view. |\n| `email-admin-access-url-to-linked-contact` | Describes\
            \ an email template that may be used to give a linked contact access to\
            \ an event while it's in pre-release. |\n| `email-event-album-link` |\
            \ Describes an email template that may be used to share a specific album\
            \ within an event. |\n| `email-event-link` | Describes an email template\
            \ that may be used to share an event. |\n| `email-mobile-app-link` | Describes\
            \ an email template that may be used to share a link to a mobile app with\
            \ a studio's client. |\n| `event-expiring-notice` | Describes an email\
            \ template that may be used to notify event visitors of an upcoming event\
            \ expiration. |\n| `event-released-to-linked-contact` | Describes an email\
            \ template that may be used to notify an event's linked contact that an\
            \ event is now active. |\n| `event-released-to-visitors` | Describes an\
            \ email template that may be used to notify event visitors that an event\
            \ is now active. |\n| `event-upload-complete` | Describes an email template\
            \ that may be used as an internal notification to the studio user that\
            \ an upload is complete in their ShootProof account. |\n| `event-visitor-message`\
            \ | Describes an email template that may be used to send general messages\
            \ to event visitors. |\n| `invoice-final-payment-due-remainder` | Describes\
            \ an email template that may be used to notify a studio's client that\
            \ their final invoice payment will be due soon. |\n| `invoice-message`\
            \ | Describes an email template that may be used to send general messages\
            \ about an invoice to a studio's client. |\n| `invoice-past-due-notice`\
            \ | Describes an email template that may be used to notify a studio's\
            \ client that their invoice is past due. |\n| `invoice-ready` | Describes\
            \ an email template that may be sent to a studio's client when an invoice\
            \ is ready to view. |\n| `order-status-notice` | Describes an email template\
            \ that may be sent to a studio's client when the status of their order\
            \ changes. |"
          type: "string"
          enum:
          - "contract-ready"
          - "documents-ready"
          - "email-admin-access-url-to-linked-contact"
          - "email-event-album-link"
          - "email-event-link"
          - "email-mobile-app-link"
          - "event-expiring-notice"
          - "event-released-to-linked-contact"
          - "event-released-to-visitors"
          - "event-upload-complete"
          - "event-visitor-message"
          - "invoice-final-payment-due-reminder"
          - "invoice-message"
          - "invoice-past-due-notice"
          - "invoice-ready"
          - "order-status-notice"
        resourceType:
          description: "If present, this describes the type of resource represented\
            \ by this email\ntemplate."
          type: "string"
          nullable: true
          enum:
          - "contract"
          - "event"
          - "event-album"
          - "invoice"
          - "mobile-app"
          - "order"
        defaults:
          description: "The system default values for this email template type."
          type: "object"
          nullable: true
          properties:
            description:
              description: "A description of this email template type."
              type: "string"
              nullable: true
            subject:
              description: "The default subject line for this email template type."
              type: "string"
              nullable: true
            body:
              description: "The default message body of this email template type.\
                \ The message\nbody includes HTML tags."
              type: "string"
              nullable: true
            htmlEmail:
              description: "The full HTML email template, complete with in-lined CSS,\n\
                headers, and footers."
              type: "string"
              nullable: true
            htmlEmailCss:
              description: "The CSS that will be used to style the email message."
              type: "string"
              nullable: true
            headline:
              description: "The default headline used in the body of the email template."
              type: "string"
              nullable: true
            buttonText:
              description: "The default text label for the button used in the body\
                \ of the email\ntemplate."
              type: "string"
              nullable: true
            buttonTextHelper:
              description: "Helper text provided to help the studio user understand\
                \ the action\ntaken when their client clicks on the button in the\
                \ email message."
              type: "string"
              nullable: true
    EmailTemplateTypeCollection:
      allOf:
      - $ref: "#/components/schemas/List"
      - title: "A collection of email template types"
        properties:
          type:
            enum:
            - "email-template-type-collection"
          items:
            title: "Email Template Type"
            type: "array"
            items:
              $ref: "#/components/schemas/EmailTemplateType"
    Error:
      description: "An error."
      type: "object"
      properties:
        type:
          description: "A namespace URI uniquely identifying the error type."
          type: "string"
          format: "uri"
          example: "https://developer.shootproof.com/errors#error-bad-request"
        title:
          description: "A short description of the error encountered."
          type: "string"
          example: "Bad Request"
        detail:
          description: "A longer description of of the error encountered."
          type: "string"
          example: "There was a problem with your request. Please see `info` for more\
            \ information."
        status:
          description: "The HTTP status code associated with this error."
          type: "integer"
          example: 400
        info:
          description: "Additional information that may be provided to aid in error\n\
            resolution."
          type: "object"
          properties:
            reason:
              description: "An optional reason for the error response.\n\nIn some\
                \ cases, more information is required to convey information\nabout\
                \ the error to the client. In these cases, one of the following\n\
                reason slugs may be used.\n\n| Reason Slug | Description |\n| -----------\
                \ | ----------- |\n| `contract-not-ready-to-countersign` | The contract\
                \ is in a state that does not allow countersigning. Its status must\
                \ be `ready-to-countersign` to perform this action. |\n| `event-photo-count-limit`\
                \ | The event has reached the maximum number of photos allowed. |\n\
                | `plan-does-not-allow-uploads` | The studio is in a plan that does\
                \ not allow uploads or they have reached the limit of photos the plan\
                \ allows. |"
              type: "string"
              enum:
              - "contract-not-ready-to-countersign"
              - "event-photo-count-limit"
              - "plan-does-not-allow-uploads"
    ErrorValidation:
      allOf:
      - description: "A validation error."
        properties:
          info:
            description: "Additional information that may be provided to aid in error\n\
              resolution."
            type: "object"
            properties:
              errors:
                description: "If the error response is a result of validation errors,\
                  \ it\nwill most likely be a `400 Bad Request` response and contain\n\
                  this `info.errors` property. Each property name in the\n`errors`\
                  \ object is a property that failed validation. These\nproperties\
                  \ contain objects with property names in the form\nof internal validation\
                  \ error message slugs paired with\nhuman-readable string values\
                  \ describing the validation\nfailure. Each property may have multiple\
                  \ validation failure\nmessages."
                type: "object"
                example:
                  type:
                    isEmpty: "Value is required and can't be empty"
                  name:
                    notUnique: "The name must be unique"
      - $ref: "#/components/schemas/Error"
    Event:
      allOf:
      - title: "Event"
        description: "An event."
        required:
        - "name"
        - "eventDate"
        properties:
          type:
            description: "The type of object represented."
            type: "string"
            enum:
            - "event"
          id:
            $ref: "#/components/schemas/Id"
          links:
            $ref: "#/components/schemas/Links"
          name:
            description: "The name of this event."
            type: "string"
            maxLength: 100
          urlSlug:
            description: "The slug used to uniquely identify this event in URLs."
            pattern: "^[\\w-]{0,30}$"
            nullable: true
            type: "string"
          photoSortType:
            description: "The type of sorting to apply to photos in this event.\n\n\
              This affects only the top-level \"all photos\" view for the event\n\
              and does not cascade down through event albums and sub-albums.\nTo apply\
              \ a photo sort type to all albums and sub-albums, use a\nbatch update\
              \ operation on an album collection resource."
            type: "string"
            enum:
            - "custom"
            - "name-asc"
            - "name-desc"
            - "shootDate-asc"
            - "shootDate-desc"
            default: "name-asc"
          albumSortType:
            description: "The type of sorting to apply to albums in this event.\n\n\
              This affects only the top-level albums view for the event and\ndoes\
              \ not cascade down through sub-albums. To apply an album sort\ntype\
              \ to sub-albums, use a batch update operation on an album\ncollection\
              \ resource."
            type: "string"
            enum:
            - "custom"
            - "name-asc"
            - "name-desc"
            default: "name-asc"
          contactId:
            allOf:
            - nullable: true
            - $ref: "#/components/schemas/Id"
          contact:
            allOf:
            - description: "The contact associated with this event (if applicable)."
              readOnly: true
              nullable: true
            - $ref: "#/components/schemas/EventContact"
          photosCount:
            description: "The total number of photos within this event, including\
              \ photos\nin albums."
            type: "number"
            readOnly: true
          photosNotInAnAlbumCount:
            description: "Number of photos within this event that are not in any albums."
            type: "number"
            readOnly: true
          photosInQueueCount:
            description: "The total number of photos in the queue to be processed\
              \ for this\nevent."
            type: "number"
            readOnly: true
          cartsCount:
            description: "The number of active carts with items for this event."
            type: "number"
            readOnly: true
          ordersCount:
            description: "The total number of orders for this event."
            type: "number"
            readOnly: true
          visitorsCount:
            description: "The number of event visitors who provided their email address."
            type: "number"
            readOnly: true
          visitorsLastActiveDate:
            description: "The date on which an event visitor was last active."
            format: "date-time"
            nullable: true
            type: "string"
          shares:
            description: "The number of times this event has been shared via various\n\
              channels."
            type: "object"
            readOnly: true
            properties:
              facebookCount:
                type: "number"
              twitterCount:
                type: "number"
              pinterestCount:
                type: "number"
              linkCount:
                type: "number"
          photoFavoritesCount:
            description: "The number of times photos in this event were favorited."
            type: "number"
            readOnly: true
          eventDate:
            description: "The date on which this event took place."
            format: "date-time"
            nullable: true
            type: "string"
          releaseDate:
            description: "The date on which this event will be released."
            format: "date-time"
            nullable: true
            type: "string"
          lastReleasedDate:
            description: "The date on which this event was last released. This value\
              \ is\nonly ever set by the system when the event is released. If the\n\
              event is released multiple times, this value will always be the\ndate/time\
              \ that the event was last released."
            format: "date-time"
            readOnly: true
            nullable: true
            type: "string"
          expirationDate:
            description: "The date on which this event expired."
            format: "date-time"
            nullable: true
            type: "string"
          orderDueDate:
            description: "The date on which orders for the event are due."
            format: "date-time"
            nullable: true
            type: "string"
          showExpirationDate:
            description: "Whether to show the expiration date to visitors."
            type: "boolean"
          eventPassword:
            description: "If the event access level requires a password, this is the\n\
              password that must be used to access the event."
            maxLength: 30
            nullable: true
            type: "string"
          digitalRules:
            title: "Digital Rule"
            description: "Collection of digital rules available for this event. Digital\n\
              rules describe configurations for free digitals downloads."
            type: "array"
            items:
              $ref: "#/components/schemas/DigitalRule"
          coverPhoto:
            allOf:
            - description: "A cover photo for the event."
              readOnly: true
              nullable: true
            - $ref: "#/components/schemas/CoverPhoto"
          eventPhotoTags:
            title: "Event Photo Tag"
            description: "Photo tags associated with this event."
            readOnly: true
            type: "array"
            items:
              $ref: "#/components/schemas/EventPhotoTag"
          created:
            description: "The creation date of this event."
            type: "string"
            format: "date-time"
            readOnly: true
      - $ref: "#/components/schemas/EventSettings"
    EventAlbum:
      title: "Event Album"
      description: "An event album.\n\nTo enumerate the child albums and photos of\
        \ this album, see\n`links.children`."
      type: "object"
      required:
      - "type"
      - "name"
      - "isHidden"
      properties:
        type:
          description: "The type of object represented."
          type: "string"
          enum:
          - "event-album"
        links:
          $ref: "#/components/schemas/Links"
        id:
          description: "The identifier for the event album."
          type: "integer"
          readOnly: true
        eventId:
          description: "The numeric identifier for the event to which this album belongs."
          type: "integer"
          readOnly: true
        parentAlbumId:
          description: "The identifier for the event album's parent album, if applicable."
          nullable: true
          type: "integer"
        name:
          description: "The event album name."
          type: "string"
          maxLength: 50
        photoSortType:
          description: "The type of sorting to apply to photos in this album.\n\n\
            This affects only the photos in this album and does not cascade down\n\
            through to sub-albums. To apply a photo sort type to all sub-albums,\n\
            use a batch update operation on an album collection resource or\nalbum\
            \ children collection resource."
          type: "string"
          enum:
          - "custom"
          - "name-asc"
          - "name-desc"
          - "shootDate-asc"
          - "shootDate-desc"
          default: "name-asc"
        albumSortType:
          description: "The type of sorting to apply to sub-albums of this album.\n\
            \nThis affects only the sub-albums in this album and does not cascade\n\
            down through to their sub-albums. To apply an album sort type to all\n\
            sub-albums, use a batch update operation on an album collection\nresource\
            \ or album children collection resource."
          type: "string"
          enum:
          - "custom"
          - "name-asc"
          - "name-desc"
          default: "name-asc"
        previousAlbumId:
          description: "The numeric identifier for the album that precedes this album\
            \ when\nthe `event.albumSortType` or `album.albumSortType` for the event\
            \ or\nalbum in which this album appears is set to `custom`.\n\nIf this\
            \ album resource has a `parentAlbumId`, the `previousAlbumId`\nrefers\
            \ to the preceding album in the collection of sub-albums for\nthe album.\
            \ If this album resource does not have a `parentAlbumId`\n(i.e., it is\
            \ `null`), the `previousAlbumId` refers to the preceding\nalbum in the\
            \ collection of albums for the event identified by\n`eventId`.\n\nIf the\
            \ `albumSortType` for the event or album in which this album\nappears\
            \ is not set to `custom`, the `previousAlbumId` will be\n`null`. Likewise,\
            \ if the `albumSortType` is `custom` and this is the\nfirst album in the\
            \ sequence, the value of `previousAlbumId` will be\n`null`."
          readOnly: true
          nullable: true
          type: "integer"
        albumPassword:
          description: "A password that visitors must use to access the event album."
          maxLength: 30
          nullable: true
          type: "string"
        isHidden:
          description: "Whether the album has been marked 'hidden'."
          type: "boolean"
        photosCount:
          description: "The number of photos in the event album."
          type: "integer"
          readOnly: true
        albumsCount:
          description: "The number of sub-albums in the event album."
          type: "integer"
          readOnly: true
        coverPhoto:
          description: "A cover photo for the event album."
          readOnly: true
          allOf:
          - title: "Cover Photo"
            nullable: true
          - $ref: "#/components/schemas/CoverPhoto"
        digitalRules:
          title: "Digital Rule"
          description: "Collection of digital rules available for this album. Digital\
            \ rules\ndescribe configurations for free digitals downloads."
          type: "array"
          items:
            $ref: "#/components/schemas/DigitalRule"
        created:
          description: "The creation date of the event album."
          type: "string"
          format: "date-time"
          readOnly: true
    EventAlbumChildrenCollection:
      allOf:
      - title: "Event Album Children Collection"
        description: "A collection of event album children. The `items` array may\
          \ contain\nobjects with `type` of either `event-album` or `event-album-photo`."
        properties:
          type:
            description: "The model type for the list response object."
            type: "string"
            enum:
            - "event-album-children-collection"
          items:
            type: "array"
            items:
              oneOf:
              - $ref: "#/components/schemas/EventAlbumInList"
              - $ref: "#/components/schemas/EventPhoto"
      - $ref: "#/components/schemas/List"
    EventAlbumChildrenCollectionInPatch:
      title: "Event Album Children Collection"
      description: "A collection of event album children (sub-albums or photos) to\
        \ be\nupdated."
      allOf:
      - type: "object"
        properties:
          items:
            type: "array"
            items:
              description: "A batch of changes to apply to one or more event albums\
                \ or\nevent album photos. You may apply batch changes to both event\n\
                albums and event album photos in the same batch request."
              oneOf:
              - type: "object"
                properties:
                  type:
                    description: "The type of resource represented."
                    type: "string"
[...]
